@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kurale&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+3D&family=Staatliches&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', 'sans-serif'
}

:root {
    --bg-color: #040027;
    --text-color: #8e93c0;
    --main-color: #ffffff;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2); /* perbaikan */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100; 
    transition: .5s;     
}

.header.sticky {
    background: var(--main-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--main-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before{
    bottom: -6px;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: .2rem;
    background: var(--main-color);
}

.header.sticky .navbar a::before {
    background: #242424;
    opacity: .7;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none; /* default disembunyikan */
  cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
}

.home {
    min-height: 100vh;
    width: 100%;

    background-image: url("images/potokita.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 7% 2rem;
    gap: 4rem;
}

.home-content {
    display: flex;
    align-items: center;   
    gap: 4rem;             
    position: relative;
    z-index: 2;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--main-color);
    font-family: 'Dancing Display', serif;
    justify-content: center;
    filter:
        drop-shadow(0 0 8px rgba(80, 120, 255, 0.45))
        drop-shadow(0 0 25px rgba(80, 120, 255, 0.35))
        drop-shadow(0 0 60px rgba(80, 120, 255, 0.25));
}

.home-content p {
    font-size: 2.5rem;
    color: white;
}

.home-image img {
    width: 400px;    
    margin-left: 20rem;
    border-radius: 12px;  
}

.home-image img:hover {
    transform: scale(1.05);
}

.home-content a {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.4rem 3.6rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: white;
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    transition: 0.3s;
    filter:
        drop-shadow(0 0 8px rgba(80, 120, 255, 0.45))
        drop-shadow(0 0 25px rgba(80, 120, 255, 0.35))
        drop-shadow(0 0 60px rgba(80, 120, 255, 0.25));
}

.home-content a:hover {
    border-color: white;
    transform: scale(1.05);
}




.kenalan {
    min-height: 100vh;
    width: 100%;
    padding: 12rem 7% 4rem;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.kenalan h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 6rem;
}

.kenalan-content {
    display: flex;
    flex-direction: column;
    gap: 8rem; 
}

.kenalan-1 {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: flex-start;
    margin-bottom: 0%;
}


.kenalan-content .kenalan-1 img {
    width: 250px;    
    justify-content: flex-start;
    border-radius: 12px;
    filter:
        drop-shadow(0 0 8px rgba(80, 120, 255, 0.45))
        drop-shadow(0 0 25px rgba(80, 120, 255, 0.35))
        drop-shadow(0 0 60px rgba(80, 120, 255, 0.25));
}

.kenalan-content .kenalan-1 img:hover {
    transform: scale(1.05);
}

.kenalan-content .kenalan-1 p {
    font-size: 2.5rem;
    color: white;
}

.kenalan-2 {
    display: flex;
    width: 100%;
}

.kenalan-content .kenalan-2 img {
    margin-left: auto;
    width: 250px;
    filter:
        drop-shadow(0 0 8px rgba(80, 120, 255, 0.45))
        drop-shadow(0 0 25px rgba(80, 120, 255, 0.35))
        drop-shadow(0 0 60px rgba(80, 120, 255, 0.25));
}

.kenalan-content .kenalan-2 img:hover {
    transform: scale(1.05);
}

.kenalan-content .kenalan-2 p {
    font-size: 2.5rem;
    color: white;
    margin-top: 25rem;
}

.kenalan-3 {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: flex-start; 
}


.kenalan-content .kenalan-3 img {
    width: 250px;    
    justify-content: flex-start;
    border-radius: 12px;
    filter:
        drop-shadow(0 0 8px rgba(80, 120, 255, 0.45))
        drop-shadow(0 0 25px rgba(80, 120, 255, 0.35))
        drop-shadow(0 0 60px rgba(80, 120, 255, 0.25));
}

.kenalan-content .kenalan-3 img:hover {
    transform: scale(1.05);
}

.kenalan-content .kenalan-3 p {
    font-size: 2.5rem;
    color: white;
}

.dokumentasi {
    min-height: 100vh;
    width: 100%;
    padding: 12rem 7% 4rem;
}

.dokumentasi h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 6rem; 
}

.horizontal-scroll {
    width: 100%;
    overflow: hidden;
    padding: 4rem 0;
}

.scroll-track {
    display: flex;
    gap: 3rem; /* jarak antar gambar (enak dilihat) */
    width: max-content;
    animation: scroll 25s linear infinite;
    margin-bottom: 5rem;
}

.scroll-track img {
    width: 220px;
    border-radius: 16px;
    flex-shrink: 0;
    transition: transform 0.3s;
}

.scroll-track img:hover {
    transform: scale(1.05);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.horizontal-scroll:active .scroll-track {
    animation-play-state: paused;
}       

.img-box {
    width: 240px;          
    aspect-ratio: 9 / 16;  
    overflow: hidden;
    border-radius: 16px;
    flex-shrink: 0;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.video-row {
    display: flex;
    gap: 3rem;            /* jarak antar video */
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;      /* biar turun di layar kecil */
}

.video-box {
    width: 320px;
    max-width: 700px;
    aspect-ratio: 4 / 3;
}

.video-box video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.meet {
    min-height: 100vh;
    padding: 12rem 7% 6rem;
    background: #050018; /* bg section */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    width: 90%;
    height: 50%;
    min-height: 70vh;       /* hampir satu layar */     /* biar tidak full mentok */

    background: rgba(0, 0, 0, 0.301);
    border-radius: 32px;

    box-shadow:
        0 0 0 1px rgba(80, 120, 255, 0.35),
        0 0 25px rgba(80, 120, 255, 0.35),
        0 0 60px rgba(80, 120, 255, 0.25);

    backdrop-filter: blur(10px);

    display: flex;                 /* 🔑 */
    align-items: center;           /* tengah vertikal */
    justify-content: center;

    padding: 6rem
}

.meet-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* kiri teks, kanan foto */
    align-items: center;
    height: 100%;
    width: 100%;
}

.meet-text {
    padding-left: 0;
    max-width: 520px;
}

.meet-content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--main-color);
    font-family: 'Dancing Display', serif;
    justify-content: center;
    filter:
        drop-shadow(0 0 8px rgba(80, 120, 255, 0.45))
        drop-shadow(0 0 25px rgba(80, 120, 255, 0.35))
        drop-shadow(0 0 60px rgba(80, 120, 255, 0.25));
}

.meet-content h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 5rem;
}

.meet-photo {
    justify-self: end;   /* ⬅️ ini kuncinya */
    padding-right: 6rem;
}

.meet-photo img {
    width: 340px;              /* 🔥 lebih besar */
    aspect-ratio: 1 / 1;       /* 🔥 PERSEGI */
    object-fit: cover;

    border-radius: 20px;

    box-shadow:
        0 0 25px rgba(80,120,255,.35),
        0 0 60px rgba(80,120,255,.25);
}









/* BASE */
.reveal {
    opacity: 0;
    transition: opacity 1.2s ease, transform 1.2s ease;
}

/* DEFAULT (dari bawah) */
.reveal:not(.from-left):not(.from-right):not(.from-bottom):not(.zoom-in) {
    transform: translateY(40px);
}

/* SLIDE */
.reveal.from-left  { transform: translateX(-40px); }
.reveal.from-right { transform: translateX(40px); }
.reveal.from-bottom{ transform: translateY(40px); }

/* ZOOM IN (POPUP) */
.reveal.zoom-in {
    transform: scale(0.7);
}

/* ACTIVE */
.reveal.active:not(.zoom-in) {
    opacity: 1;
    transform: translate(0, 0);
}

.reveal.zoom-in.active {
    opacity: 1;
    transform: scale(1);
}



